<div class="todo">
   <breadcrumb-basic-demo></breadcrumb-basic-demo>
    <panel-basic-demo></panel-basic-demo>
    <h1>Datos personales:</h1>
    <input-text-invalid-demo></input-text-invalid-demo>
    <h1>Fecha de nacimiento:</h1>
    <datepicker-basic-demo></datepicker-basic-demo>
    <h1>Género:</h1>
    <select-basic-demo></select-basic-demo>
    <hr>
    <h1>Cree su usuario: </h1>
    <ifta-label-basic-demo></ifta-label-basic-demo>
    <h1>Digite su contraseña: </h1>
    <password-locale-demo></password-locale-demo>
    <app-containercol></app-containercol>
    <button-basic-demo></button-basic-demo>
    <paginator-basic-demo></paginator-basic-demo>
</div>  

<router-outlet />
