.header{
  display: flex;
  align-items: center;
  gap: 12px;
  background: #b3b3b3;
  padding: 12px;
}


.buscador{
  margin-left: auto;
  width: min(400px, 65%);
}

.buscador input{
  width: 100%;
  padding: 8px;
}

.logo{
  width: 140px;
}
