<main>
  <h2>Catálogo de Animales</h2>

  <p class="parrafo-arial">Aquí se describen animales.</p>
  <p class="parrafo-nerko">Puedes ver especies, hábitat y estado en la siguiente tabla.</p>

  <ul>
    <li><a href="https://www.nationalgeographic.com/animals">National Geographic - Animals</a></li>
    <li><a href="https://www.worldwildlife.org/species">WWF - Especies</a></li>
    <li><a href="https://es.wikipedia.org/wiki/Animalia">Wikipedia - Reino Animal</a></li>
  </ul>

  <table>
    <thead>
      <tr>
        <th>Animal</th>
        <th>Hábitat</th>
        <th>Estado</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Tigre de Bengala</td>
        <td>Selvas y manglares</td>
        <td>En peligro</td>
      </tr>
      <tr>
        <td>Pinguino emperador</td>
        <td>Antártida</td>
        <td>Vulnerable</td>
      </tr>
      <tr>
        <td>Águila real</td>
        <td>Montañas y praderas</td>
        <td>Preocupación menor</td>
      </tr>
    </tbody>
  </table>
</main>


<app-parte2></app-parte2>

