:host { display: block; }
.contenedor { padding: 10px; background: #2f5ca8; }

.cuerpo {
  display: grid;
  grid-template-columns: 220px 1fr;
  gap: 12px;
  padding: 10px 0;
}

/* Footer principal envuelve TODO (barra + 3 cajas) */
.footer {
  background: #f2ab05;      /* amarillo del footer principal */
  padding: 10px;
  margin-top: 10px;
}

/* separa barra (app-footer) de las 3 cajas */
.footer app-footer { display: block; margin-bottom: 10px; }

/* grilla para Footer-1/2/3 */
.footer-items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
}
